body{
    max-width: 1270px;
    /* background-color:rgb(199, 204, 204); */
    margin: 0 auto;
    align-items: center;
    gap: 40px;
    
    
}
.main-container img{
    width: 300%;
    height: 400px;
    border-radius: 25px;

}
.main-container{
    display: flex;
    background-color: rgb(68, 224, 224);;
    border-radius: 25px;
    font-size: 1.25em;
    align-items: center;
    padding-right: 170px;
    padding-left: 25px;
    background-image: url('One\ Piece\ Straw\ Hat\ Pirate\ Going\ Merry\ Live\ Action\ Netflix\ 4k.jpg');
    background-size: cover;
    
    
}
.picdiv{
    padding: 20px 20px 20px 20px;
}
.main-container button{
    border-radius:8px ;
    font-size: 1.015em;
    cursor: pointer;
    background-color: rgba(82, 49, 0, 0);
    border: none;
    align-items:center ;
    justify-content: center;
    

}
.main-container button:hover{
    /* background-color: black; */
    color: aliceblue;
}
