nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 15px;
    font-weight: 900;
}
nav li a{
    text-decoration: none;
    color: black;
}
nav li :hover{
    
    color: #ffffff;
}