.forgotpassword{
    text-align: center;
    height: 400px;
    width: 500px;
    margin: 100px auto;
    background-color: rgb(213, 213, 223);
    /* box-shadow: inset 0 0 10px black; */
    box-shadow: black 10px 10px 15px;
    border-radius: 20px;
    padding: 20px;
    background-image: url('One\ Piece.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 0px;
    box-sizing: border-box;

}
.textforgotten{
    color: rgb(207, 161, 62);
    margin: 60px;
    font-size: 30px;
    text-align: center;
    font-family: Arial, sans-serif;
    /* background-color: rgb(138, 66, 126); */
    padding: 5px;
    border-top: none;
    font-weight: 900;
}
.forgotpassword input[type="email"]{
    display: block;
    margin: 20px  auto;
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: black 5px 5px 10px;
}
.forgotpassword button{
   color: rgb(252, 252, 252);
   background-color: rgb(192, 93, 12);
    margin: 10px;
    padding: 10px;
    width: 84%;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    border-top: none;
    font-weight:900;
    box-shadow: black 5px 5px 10px;
    cursor: pointer;

}
.forgotpassword:hover{
    background-color: aliceblue;
    color: rgb(192, 93, 12);
}
p{
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: rgb(206, 100, 13);
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
body{
    background-image: url('One\ Piece.jpg');
}
